.rebel_readline_history
.lsp
.shadow-cljs
target
node_modules
.idea
.env
tsconfig.tsbuildinfo

**~
/notice
.nrepl-port
/.cpcache/
.clj-kondo

# ClojureDart
.cpcache/
.clojuredart/
lib/cljd-out/
test/cljd-out/
/.dart_tool/
/build/
dev/data

src/js
public/

/resources/config.edn
/resources/keystore
vault

public/css/*
