.lsp
.shadow-cljs
target
node_modules
.idea
.env

**~
/notice
.nrepl-port
/.cpcache/
.clj-kondo

# ClojureDart
.cpcache/
.clojuredart/
lib/cljd-out/
test/cljd-out/
/.dart_tool/
/build/
dev/data

src/js
public/js
public/css/
.rebel_readline_history
