{:paths ["src/main" "src/test" "resources" "public"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.0"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.847"
                                     :me/about "database connection"}

  com.zaxxer/HikariCP {:mvn/version "5.0.1"
                       :me/about "connection pool"}
  org.postgresql/postgresql {:mvn/version "42.2.10"}
  org.xerial/sqlite-jdbc {:mvn/version "3.42.0.0"}
  clj-http/clj-http {:mvn/version "3.12.3"
                     :me/about "http client"
                     :me/url "https://github.com/dakrone/clj-http"}

  org.slf4j/slf4j-simple {:mvn/version "2.0.7"}

  javax.servlet/servlet-api {:mvn/version "2.5"}
  ;; ring/ring {:mvn/version "1.9.6"
  ;;            :me/url "https://github.com/ring-clojure/ring"
  ;;            info.sunng/ring-jetty9-adapter {:mvn/version "0.22.1"
  ;;                                            :me/url "https://github.com/sunng87/ring-jetty9-adapter"}}

  ;; ring/ring-jetty-adapter {:mvn/version "1.9.6"}
  info.sunng/ring-jetty9-adapter {:mvn/version "0.22.1"
                                  :me/url "https://github.com/sunng87/ring-jetty9-adapter"}
  ring/ring-core {:mvn/version "1.9.6"}
  ring/ring-defaults {:mvn/version "0.3.4"}
  ring-cors/ring-cors {:mvn/version "0.1.13"}
  ring/ring-anti-forgery {:mvn/version "1.3.0"}

  metosin/reitit {:mvn/version "0.5.18"
                  :me/doc "https://cljdoc.org/d/metosin/reitit/0.5.18/doc/introduction"}
  metosin/muuntaja {:mvn/version "0.6.8"}
  com.taoensso/sente {:mvn/version "1.17.0"
                      :me/url "https://github.com/ptaoussanis/sente"
                      :me/about "websockets"}
  ;; JWT

  com.github.sikt-no/clj-jwt {:git/sha "bc23acb3c7cbf0d2def2d395c3e3d9c405be28d5"
                              :me/help "https://ask.clojure.org/index.php/11644/re-building-without-internet-access-with-nix?show=11694#c11694"
                              :me/old {:git/tag "0.4.7"}
                              :me/about "JWT"
                              :me/url "https://github.com/sikt-no/clj-jwt"}

  buddy/buddy-auth {:mvn/version "3.0.323"
                    :me/url "https://github.com/funcool/buddy-auth"}
  buddy/buddy-hashers {:mvn/version "1.8.158"
                       :me/url "https://github.com/funcool/buddy-hashers"}
  selmer/selmer {:mvn/version "1.12.55"
                 :me/url "https://github.com/yogthos/Selmer"
                 :me/about "html template library"}

  cheshire/cheshire {:mvn/version "5.11.0"
                     :me/about "json parser+reader"
                     :me/url "https://github.com/dakrone/cheshire"
                     metosin/jsonista {:mvn/version "0.3.7"
                                       :me/url "https://github.com/metosin/jsonista"}}
  aero/aero {:mvn/version "1.1.6"
             :me/url "https://github.com/juxt/aero"
             :me/about "enviroment variables"
             environ/environ {:mvn/version "1.2.0"
                              :me/url "https://github.com/weavejester/environ"
                              :me/about "enviroment variables"}}
  tensegritics/clojuredart {:git/url "https://github.com/tensegritics/ClojureDart.git"
                            :sha "ae1b485e84ccc35b122f776dfc7cc62198274701"
                            :me/url "https://github.com/Tensegritics/ClojureDart/tree/main"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.3"}

                 asset-minifier/asset-minifier {:mvn/version "0.2.7"
                                                :me/url "https://github.com/yogthos/asset-minifier"}
                 selmer/selmer {:mvn/version "1.12.55"
                                :me/url "https://github.com/yogthos/Selmer"
                                :me/about "html template library"}}
          :ns-default build}
  :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                       com.h2database/h2 {:mvn/version "1.4.199"}}
          :main-opts  ["-m" "rebel-readline.main"]}
  :test/db {:extra-deps {com.h2database/h2 {:mvn/version "1.4.199"}
                         org.xerial/sqlite-jdbc {:mvn/version "3.42.0.0"}}}
  :test/deps {:extra-deps {clj-commons/pomegranate {:mvn/version "1.2.23"}
                           ring/ring-mock {:mvn/version "0.4.0"}}}
  :test/httpkit {:extra-deps {http-kit/http-kit {:mvn/version "2.6.0"
                                                 :me/about "html server"
                                                 :me/url "https://github.com/http-kit/http-kit"}}}
  :test/ringjetty {:extra-deps {ring/ring-jetty-adapter {:mvn/version "1.9.6"}}}
  :test/http2 {:extra-deps {info.sunng/ring-jetty9-adapter {:mvn/version "0.22.1"
                                                            :me/url "https://github.com/sunng87/ring-jetty9-adapter"}}}
  :nrepl/rebel
  {:extra-deps {nrepl/nrepl                {:mvn/version "1.0.0"}
                cider/cider-nrepl          {:mvn/version "0.31.0"}
                com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
   :main-opts  ["-e" "(apply require clojure.main/repl-requires)"
                "--main" "nrepl.cmdline"
                "--middleware" "[cider.nrepl/cider-middleware]"
                "--interactive"
                "-f" "rebel-readline.main/-main"]}

  :cider-clj {:me/url "https://docs.cider.mx/cider/basics/middleware_setup.html#using-tools-deps"
              :extra-deps {cider/cider-nrepl {:mvn/version "0.31.0"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :cider-cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.339"}
                            cider/cider-nrepl {:mvn/version "0.31.0"}
                            cider/piggieback {:mvn/version "0.5.3"}}
               :main-opts ["-m" "nrepl.cmdline" "--middleware"
                           "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}
  :cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.20"}
                      lilactown/helix {:mvn/version "0.1.10"
                                       reagent/reagent {:mvn/version "1.2.0"}}

                      funcool/promesa {:mvn/version "10.0.594"}
                      org.clojure/core.async {:mvn/version "1.6.681"}
                      cljs-http/cljs-http {:mvn/version "0.1.46"}
                      com.lambdaisland/dom-types {:mvn/version "0.5.37"
                                                  :me/url "https://github.com/lambdaisland/dom-types"
                                                  :me/about "pretty print browser types"}}
         ;; :extra-paths ["src/main"]
         }
  :cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :flutter
             :main khsalim.app.main}}
