<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/assets/css/make.css" type="text/css" media="screen" />
</head>
<body>
    <!-- <div class="sr-only">
	 <label for="media-file">حمل صورة</label>
	 <input name="media" id="media-file" type="file" accept="image/jpeg,image/png"  />
	 <label for="desc">شرح عن الوصفة</label>
	 <input id="desc" name="description" type="text"/>
	 <button id="btn">انشرها</button>
	 </div> -->
    <div id="app"></div>
    <svg>
	<symbol id="plus" viewBox="0 0 24 24">
	    <line x1="12" x2="12" y1="5" y2="19"/>
	    <line x1="5" x2="19" y1="12" y2="12"/>
	</symbol>
    </svg>
    <script id="data" type="application/json">
     {{recipe-id|json|safe}}
    </script>
    
    <script src="/assets/js/make.js"></script>
</body>
</html>
