<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{name}}-dashboard</title>
	<link rel="icon" href="data:,">
	<link rel="stylesheet" href="/assets/recipe.css" type="text/css" media="screen" />
	<style>
	 .button{
	     @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-accent focus:ring-accent;
	 }
	 .footer{
	     @apply sticky bottom-0;
	 }
	 /* class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 pl-5 border-2 border-black" */
	</style>
    </head>
    <body class="flex flex-col sm:w-full md:w-1/2 md:mx-auto min-h-screen relative">
	<header class="flex flex-row justify-between px-4 py-2 bg-secondery">
	    <span class="font-amiri text-lg">أطباق سُهيل</span>
	    <div class="block mx-auto rounded-full sm:mx-0 sm:shrink-0">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
	    </div>
	</header>
	<article>
	    <div class="w-full">
		مرحبا <span>{{name}}</span> سعدنا بوجودك معنا
	    </div>
	    <div id="app"></div>

	    <div class="bg-yellow-200"> Salam Sailor</div>
	</article>
	<footer class="flex flex-row justify-center w-full py-4 bg-accent2 text-white font-amiri font-semibold leading-3">
	    سليم خطيب
	</footer>

	<div id="data" class="hidden">
	    {{recipes|json}}
	</div>
	<script type="text/javascript" src="/js/recipe.js"></script>
	<script>
	 let data = JSON.parse(document.getElementById("data").innerHTML);
	 
	 console.log(data);
	</script>
	<!-- <div id="app"></div>
	     <script src="/js/register.js"></script>
	-->
    </body>
</html>
