@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
	@apply w-full border-gray-300 rounded-lg shadow-sm focus:border-accent focus:ring-accent;
    }
    [type="checkbox"]{
	@apply text-oil;
    }
    .clipboard-btn::before{
	transition:
	    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
	    opacity 0.6s ease-in;
    }
    .clipboard-btn:focus::before{
	transform:translate(-50%,-50%);
	opacity:1;
    }
    .clipboard-btn::before{
	@apply rounded-md;
	content:'نسخت';
	background: var(--text);
	color:var(--background);
	position:absolute;
	z-index:10;
	bottom: 50%;
	left: 50%;
	transform:translate(-50%,0%);
	opacity: 0;
	padding: 0.2em 0.5em 0 0.5em;
    }
}
[type="checkbox"]:focus{
    box-shadow: none;
}
.red-brown{
    --text: #260214;
    --background: #fffafc;
    --primary-button: #f23636;
    --secondary-button: #fdf2e7;
    --accent: #b6610c;
    --grass: #16ac16;
    --dirt: #E3AE7A;
    --summer-cloud: #FAFEFF;
}
